/* 
    Arquivo: .css
    Arquivo .css para estilos gerais das páginas
    Sistema de Informação : AdBot
    Disciplina: PMR2490 - Sistemas de Informação
    Turma: 50 (2016)  Professor: Marcos Ribeiro Pereira Barretto
    Turma: 4(B) (2016)  Professor: José Reinaldo Silva  
    Desenvolvido em : NetBeans IDE 8.2, Java 1.8.0_111, Glass Fish Server 4.1.1
    Histórico de edição deste arquivo :
        [27/11/2016, 07:11:11] Victor - passei o estilo .css prum arquivo separado nas páginas jsp
        [02/11/2016] Diego - Inclusão de ".button_options_homepage"
        [28/11/2016] Nelson - Inclusão de elementos azuis para admin
        [01/11/2016] Diego - Inclusão de ".button_options_administrador"
*/

/*
    1: Formatações de página e cores dos tipos de botão usados em todas as páginas do site
*/
.button_log_out {
    background-color: #64AEA6;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
} 

hr {
    border: none;
    height: 5px;
    background-color: #eee;
}

/*
    2: Formatações de página e cores dos tipos de botão usados nas páginas Homepage.jsp, Log_in_de_usuario.jsp e Cadastro_de_usuario.jsp
*/
.button_options_homepage {
    background-color: #48968E;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}   

/*
    3: Formatações de página e cores dos tipos de botão usados nas páginas de Advertiser/Campaign
*/
.button_menu {
    background-color: #FF91A4;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.button_options {
    background-color: #E04C64;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}   
.button_balance {
    background-color: #E04C64;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}   

.button_play {
    background-color: #FF3F3F;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}     

.button_pause {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

.button_blocked {
    background-color: #919191;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}

table.A {
    width: 100%; 
}

table.B {
    width: 100%; 
    padding: 5px;
    border-spacing: 5px;
    border-collapse: collapse;
    overflow: scroll;
    border-style: solid;
    border-width: 5px;
    border-color: #FF91A4;
}

th.B {
    border: 1px solid graytext;
    border-collapse: collapse;
    border-style: solid;
    border-width: 3px;
    border-color: #FF91A4;
}

td.B {
    border: 1px solid graytext;
    border-collapse: collapse;
    border-style: solid;
    border-width: 3px;
    border-color: #FF91A4;
}

tr.B:nth-child(even) {
    background-color: #FFC0CB;
    border-style: solid;
    border-width: 3px;
    border-color: #FF91A4;
}

tr.B:nth-child(odd) {
    background-color:#fff;
    border-style: solid;
    border-width: 3px;
    border-color: #FF91A4;
}

table {
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #FF5773;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #FFCCCB;
}

/*
    4: Formatações de página e cores dos tipos de botão usados nas páginas de Publisher/Media
*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FAZER */


/*
    5: Formatações de página e cores dos tipos de botão usados nas páginas de Administrador
*/

.button_options_administrador {
    background-color: #BBBBFF;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}   

table.C {
    width: 100%; 
    padding: 5px;
    border-spacing: 5px;
    border-collapse: collapse;
    overflow: scroll;
    border-style: solid;
    border-width: 5px;
    border-color: #000080;
}

th.C {
    border: 1px solid graytext;
    border-collapse: collapse;
    border-style: solid;
    border-width: 3px;
    border-color: #000080;
}

td.C {
    border: 1px solid graytext;
    border-collapse: collapse;
    border-style: solid;
    border-width: 3px;
    border-color: #000080;
}

tr.C:nth-child(even) {
    background-color: #BBBBFF;
    border-style: solid;
    border-width: 3px;
    border-color: #000080;
}

tr.C:nth-child(odd) {
    background-color:#fff;
    border-style: solid;
    border-width: 3px;
    border-color: #000080;
}

/*
    6: Formatações de página e cores dos tipos de botão usados nas páginas de ChatBot
*/

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>FAZER */
